{% extends "base.html" %}
{% load static %}


{% block title %}About - World Trade{% endblock %}

{% block content %}
  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Про "World Trade"
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% static 'deps/images/client-1.jpg' %}" alt="Client image 1">
          <img src="{% static 'deps/images/client-2.jpg' %}" alt="Client image 2">
          <img src="{% static 'deps/images/workers1.jpg' %}" alt="Workers image 1">
          <img src="{% static 'deps/images/workers2.jpg' %}" alt="Workers image 2">
        </div>
        <div class="detail-box">
          <p>
            "World Trade" — нова компанія, яка надає інноваційну платформу для торгівлі криптовалютами, традиційними валютами та сировинними товарами. Зручний інтерфейс дозволяє користувачам переглядати ринкові ціни, здійснювати обміни та конвертації у реальному часі. Незалежно від того, чи ви хочете інвестувати в криптовалюту, обміняти валюту чи торгувати сировинними товарами, "World Trade" надає все необхідне для зручної та безпечної торгівлі на глобальному ринку.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
