{% extends "base.html" %}
{% load static %}
{% block title %}Crypto - Crypto Dashboard{% endblock %}

{% block content %}
<h1>Торги криптовалютою</h1>

<link href="{% static 'deps/css/crypto_style.css' %}" rel="stylesheet" />

<section class="crypto_data_section">
    <div class="title-container">
        <!-- Тонка лінія для інформації про криптовалюту -->
        <div id="crypto-info" class="crypto-info-line">
            <span id="crypto-symbol">{{ btc_info.symbol }}</span>
            <span id="crypto-name">{{ crypto_info.name }}</span>
            <span id="crypto-price">Price: {{ btc_info.price }} $</span>
            <span id="crypto-change">Change 24h: {{ btc_info.change_24h }}%</span>
            <span id="crypto-24h-max">24h Max: {{ btc_info.high_24h }} $</span>
            <span id="crypto-24h-min">24h Min: {{ btc_info.low_24h }} $</span>
            <span id="crypto-volume">24h Volume: {{ btc_info.volume_24h }}</span>
            
        </div>
    </div>

    <div class="container">
        <div class="main-content">
            <!-- Контейнер для графіка TradingView -->
            <div class="chart-container">
                <div id="tradingview-widget-container" style="height: 500px; margin-top: 20px;">
                    <div id="tradingview-widget" style="height: 100%;"></div>
                </div>
            </div>

            <!-- Контейнер таблиці з пагінацією -->
            <div class="table-pagination-container">
                
                <div class="search-container">
                    <input type="text" id="search" name="search" placeholder="Search..." value="{{ search_query }}" />
                </div>

                <div class="crypto-list-container">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th><a href="?sort=symbol&order={% if sort_by == 'symbol' and order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}&page=1" class="sort-button {% if sort_by == 'symbol' %}active{% endif %}">Symbol</a></th>
                                    <th><a href="?sort=price&order={% if sort_by == 'price' and order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}&page=1" class="sort-button {% if sort_by == 'price' %}active{% endif %}">Price</a></th>
                                    <th><a href="?sort=market_cap&order={% if sort_by == 'market_cap' and order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}&page=1" class="sort-button {% if sort_by == 'market_cap' %}active{% endif %}">Market Cap</a></th>
                                    <th><a href="?sort=volume_24h&order={% if sort_by == 'volume_24h' and order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}&page=1" class="sort-button {% if sort_by == 'volume_24h' %}active{% endif %}">24h Volume</a></th>
                                    <th><a href="?sort=change_24h&order={% if sort_by == 'change_24h' and order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}&page=1" class="sort-button {% if sort_by == 'change_24h' %}active{% endif %}">Change 24h</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for crypto in page_obj %}
                                <tr class="crypto-row" data-symbol="{{ crypto.symbol }}" data-price="{{ crypto.price }}" data-change="{{ crypto.change_24h }}" data-max="{{ crypto.high_24h }}" data-min="{{ crypto.low_24h }}" data-volume="{{ crypto.volume_24h }}">
                                    <td>{{ crypto.symbol }}</td>
                                    <td>{{ crypto.price }}</td>
                                    <td>{{ crypto.market_cap }}</td>
                                    <td>{{ crypto.volume_24h }}</td>
                                    <td>{{ crypto.change_24h }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?sort={{ sort_by }}&order={{ order }}&search={{ search_query }}&page=1">&laquo; Перша</a>
                        <a href="?sort={{ sort_by }}&order={{ order }}&search={{ search_query }}&page={{ page_obj.previous_page_number }}">Попередня</a>
                        {% endif %}

                        <span class="current">
                            Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?sort={{ sort_by }}&order={{ order }}&search={{ search_query }}&page={{ page_obj.next_page_number }}">Наступна</a>
                        <a href="?sort={{ sort_by }}&order={{ order }}&search={{ search_query }}&page={{ page_obj.paginator.num_pages }}">Остання &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'deps/js/crypto.js' %}"></script>



{% endblock %}
