{% extends "base.html" %}
{% load static %}


{% block title %}Home - World Trade{% endblock %}

{% block content %}

  <section class="how_section layout_padding">
    <div class="heading_container">
      <h2>
        Ласкаво просимо на платформу для торгів "World Trade"!
      </h2>
    </div>
    <div class="heading_container">
        <p2>Виберіть один з розділів:</p2>
      </div>
    <div class="how_container">
        
      <div class="box">
        <a href="{% url 'stocks' %}">
        <div class="img-box">
            <img src={% static 'deps/images/stock-market.png' %} alt="Stock Market Icon"/>
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги акціями</div>
          </h5>
        </a>
          <p>
            Торги акціями — це купівля та продаж часток у капіталі компаній через фондові біржі. Інвестори можуть отримувати доходи від дивідендів або спекулювати на зміні цін акцій, отримуючи прибуток від їх продажу за вищою ціною.
          </p>
        </div>
      </div>

      <div class="box">
        <a href="{% url 'crypto' %}">
        <div class="img-box">
            <img src={% static 'deps/images/cryptocurrency.png' %} alt="Cryptocurrency Icon"/>
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги криптовалютою</div>
          </h5>
        </a>
          <p>
            Торги криптовалютою — це обмін цифровими валютами, такими як Bitcoin, Ethereum, і іншими, на спеціалізованих платформах. Інвестори купують і продають криптовалюти для отримання прибутку через зміну їх вартості.
          </p>
        </div>  

      </div>
      <div class="box">
        <a href="{% url 'funds' %}">
        <div class="img-box">
            <img src={% static 'deps/images/commodity.png' %} alt="Commodity Icon"/>
          
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги сировинними товарами</div>
          </h5>
        </a>
          <p>
            Торги сировинними товарами — це процес купівлі та продажу базових товарів, таких як нафта, золото, природний газ, метали, зернові та інші сировинні ресурси. Інвестори можуть отримувати прибуток від змін цін на ці активи через пряме придбання товарів або за допомогою деривативів (наприклад, ф'ючерсів).          </p>
        </div>
      </div>
      <div class="box">
        <a href="{% url 'currency' %}">
        <div class="img-box">
            <img src={% static 'deps/images/currency.png' %} alt="Currency Icon">
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги валютою</div>
          </h5>
        </a>
          <p>
            Торги валютою (форекс) — це обмін однієї валюти на іншу, зазвичай з метою отримання прибутку через коливання валютних курсів. Трейдери можуть спекулювати на курсах валют, таких як долар, євро, фунт стерлінгів тощо.
          </p>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="{% url 'about' %}">
        Read More
      </a>
    </div>
  </section>

{% endblock %}


