<!DOCTYPE html>
<html lang="uk">
{% load static %}    
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <title>World Trade</title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'deps/css/bootstrap.css' %}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'deps/css/style.css' %}" rel="stylesheet" />


    <!-- responsive style -->
    <link href="{% static 'deps/css/responsive.css' %}" rel="stylesheet" />
       

 
</head>
<body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'home' %}">
              <span>
                World Trade
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="{% url 'about' %}"> About </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="how.html"> How </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span>Wallet</span> <img src="{% static "deps/images/wallet.png" %}" alt="" />
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Sign Up</a>
                  </li>
                </ul>
                <div class="user_option">
                  <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </div>  
      <!-- end header section -->

    <!-- how section -->
  <section class="how_section layout_padding">
    <div class="heading_container">
      <h2>
        Ласкаво просимо на платформу для торгів "World Trade"!
      </h2>
    </div>
    <div class="heading_container">
        <p2>Виберіть один з розділів:</p2>
      </div>
    <div class="how_container">
        
      <div class="box">
        <a href="{% url 'stocks' %}">
        <div class="img-box">
            <img src={% static 'deps/images/stock-market.png' %} alt="Stock Market Icon"/>
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги акціями</div>
          </h5>
        </a>
          <p>
            Торги акціями — це купівля та продаж часток у капіталі компаній через фондові біржі. Інвестори можуть отримувати доходи від дивідендів або спекулювати на зміні цін акцій, отримуючи прибуток від їх продажу за вищою ціною.
          </p>
        </div>
      </div>

      <div class="box">
        <a href="{% url 'crypto' %}">
        <div class="img-box">
            <img src={% static 'deps/images/cryptocurrency.png' %} alt="Cryptocurrency Icon"/>
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги криптовалютою</div>
          </h5>
        </a>
          <p>
            Торги криптовалютою — це обмін цифровими валютами, такими як Bitcoin, Ethereum, і іншими, на спеціалізованих платформах. Інвестори купують і продають криптовалюти для отримання прибутку через зміну їх вартості.
          </p>
        </div>  

      </div>
      <div class="box">
        <a href="{% url 'funds' %}">
        <div class="img-box">
            <img src={% static 'deps/images/commodity.png' %} alt="Commodity Icon"/>
          
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги сировинними товарами</div>
          </h5>
        </a>
          <p>
            Торги сировинними товарами — це процес купівлі та продажу базових товарів, таких як нафта, золото, природний газ, метали, зернові та інші сировинні ресурси. Інвестори можуть отримувати прибуток від змін цін на ці активи через пряме придбання товарів або за допомогою деривативів (наприклад, ф'ючерсів).          </p>
        </div>
      </div>
      <div class="box">
        <a href="{% url 'currency' %}">
        <div class="img-box">
            <img src={% static 'deps/images/currency.png' %} alt="Currency Icon">
        </div>
        <div class="detail-box">
          <h5>
            <div class="section-card">Торги валютою</div>
          </h5>
        </a>
          <p>
            Торги валютою (форекс) — це обмін однієї валюти на іншу, зазвичай з метою отримання прибутку через коливання валютних курсів. Трейдери можуть спекулювати на курсах валют, таких як долар, євро, фунт стерлінгів тощо.
          </p>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="{% url 'about' %}">
        Read More
      </a>
    </div>
  </section>
  <!-- end how section -->  

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a href="index.html">
                <span>
                  World Trade
                </span>
              </a>
            </div>
            <h5>
              Contact Us
            </h5>
            <div>
              <div class="img-box">
                <img src="images/location.png" width="18px" alt="" />
              </div>
              <p>
                Page when looking at its layou
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images/phone.png" width="18px" alt="" />
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images/envelope.png" width="18px" alt="" />
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Invest Money
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour,
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Links
            </h5>
            <ul>
              <li>
                <a href="">
                  Instagram
                </a>
              </li>
              <li>
                <a href="">
                  Facebook
                </a>
              </li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->    
    <!-- footer section -->
    <section class="container-fluid footer_section">
    <p>
        &copy; 2025 All Rights Reserved By Bohdan Chornyi
        
    </p>
    </section>
    <!-- footer section -->

    <script type="text/javascript" src="deps/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="deps/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- owl carousel script 
    -->
    <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 0,
        navText: [],
        center: true,
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
        0: {
            items: 1
        },
        1000: {
            items: 3
        }
        }
    });
    </script>
    <!-- end owl carousel script -->    
</body>
</html>
